In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

## Anime Recommendation

In [8]:
anime = pd.read_csv('anime.csv')
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [9]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [10]:
anime = anime.iloc[:, :4]
anime.head()

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV

In [11]:
anime.isna().sum()

anime_id     0
name         0
genre       62
type        25
dtype: int64

In [12]:
anime = anime.dropna()
anime

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV
...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA
12290,5543,Under World,Hentai,OVA
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie

In [13]:
cv = CountVectorizer(tokenizer=lambda x:x.split(', ')) 
by_genre = cv.fit_transform(anime['genre'])

In [14]:
print(len(cv.get_feature_names()))
print(cv.get_feature_names())

43
['action', 'adventure', 'cars', 'comedy', 'dementia', 'demons', 'drama', 'ecchi', 'fantasy', 'game', 'harem', 'hentai', 'historical', 'horror', 'josei', 'kids', 'magic', 'martial arts', 'mecha', 'military', 'music', 'mystery', 'parody', 'police', 'psychological', 'romance', 'samurai', 'school', 'sci-fi', 'seinen', 'shoujo', 'shoujo ai', 'shounen', 'shounen ai', 'slice of life', 'space', 'sports', 'super power', 'supernatural', 'thriller', 'vampire', 'yaoi', 'yuri']

In [15]:
pd.DataFrame(by_genre.toarray())

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,0,0,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12206,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12208,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12209,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
coScore_anime = cosine_similarity(by_genre)

In [17]:
pd.DataFrame(coScore_anime)

,0,1,2,3,4,5,6,7,8,9,...,12200,12201,12202,12203,12204,12205,12206,12207,12208,12209
0,1.000000,0.188982,0.000000,0.000000,0.000000,0.447214,0.000000,0.250000,0.000000,0.000000,...,0.0,0.288675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.188982,1.000000,0.285714,0.000000,0.285714,0.338062,0.566947,0.377964,0.285714,0.285714,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.285714,1.000000,0.267261,1.000000,0.338062,0.377964,0.188982,1.000000,1.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.267261,1.000000,0.267261,0.000000,0.000000,0.353553,0.267261,0.267261,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.285714,1.000000,0.267261,1.000000,0.338062,0.377964,0.188982,1.000000,1.000000,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12206,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12207,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12208,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12209,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,0.577350,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [18]:
anime = anime.reset_index()
anime

,index,anime_id,name,genre,type
0,0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV
...,...,...,...,...,...
12205,12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA
12206,12290,5543,Under World,Hentai,OVA
12207,12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA
12208,12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA
12209,12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie

In [59]:
anime_liked = input('Apa anime yang anda sukai? ')

index_suka = anime[anime['name']==anime_liked].index
index_suka[0]

anime_recom = list(enumerate(coScore_anime[index_suka[0]]))

your_recom = sorted(anime_recom, key = lambda x: x[1], reverse=True)

# Showing 10 recommended anime based on the input anime
recom = []
for i in your_recom[1:11]:
    recom.append(anime.iloc[i[0],0])

print('Special Pick For You!')
for i in range(len(recom)):
    print('{}. {}, (Genre : {})'.format(1+i, anime.iloc[recom[i], 2],anime.iloc[recom[i], 3] ))

Apa anime yang anda sukai? Kimi no Na wa.
Special Pick For You!
1. Amanatsu, (Genre : Sci-Fi)
2. Diabolik Lovers More,Blood, (Genre : Harem, School, Shoujo, Vampire)
3. Aura: Maryuuin Kouga Saigo no Tatakai, (Genre : Comedy, Drama, Romance, School, Supernatural)
4. Kokoro ga Sakebitagatterunda., (Genre : Drama, Romance, School)
5. Clannad: After Story - Mou Hitotsu no Sekai, Kyou-hen, (Genre : Drama, Romance, School)
6. Angel Beats!: Another Epilogue, (Genre : Drama, School, Supernatural)
7. True Tears, (Genre : Drama, Romance, School)
8. &quot;Bungaku Shoujo&quot; Memoire, (Genre : Drama, Romance, School)
9. Harmonie, (Genre : Drama, School, Supernatural)
10. Kimikiss Pure Rouge, (Genre : Drama, Romance, School)

Type

In [21]:
cv = CountVectorizer()
by_type = cv.fit_transform(anime['type'])

In [22]:
pd.DataFrame(by_type.toarray())

       0  1  2  3  4  5
0      1  0  0  0  0  0
1      0  0  0  0  0  1
2      0  0  0  0  0  1
3      0  0  0  0  0  1
4      0  0  0  0  0  1
...   .. .. .. .. .. ..
12205  0  0  0  1  0  0
12206  0  0  0  1  0  0
12207  0  0  0  1  0  0
12208  0  0  0  1  0  0
12209  1  0  0  0  0  0

[12210 rows x 6 columns]

In [23]:
coScore_type = cosine_similarity(by_type)

In [24]:
pd.DataFrame(coScore_type)

,0,1,2,3,4,5,6,7,8,9,...,12200,12201,12202,12203,12204,12205,12206,12207,12208,12209
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12205,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12207,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12208,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
12209,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [60]:
anime_liked_2 = input('Apa anime yang anda sukai? ')

index_suka_2 = anime[anime['name']==anime_liked_2].index
index_suka_2[0]

anime_recom_2 = list(enumerate(coScore_type[index_suka_2[0]]))

your_recom_2 = sorted(anime_recom_2, key = lambda x: x[1], reverse=True)

# Showing 5 recommended music based on the input music
recom_2 = []
for i in your_recom_2[1:11]:
    recom_2.append(anime.iloc[i[0],0])

print('Special Pick For You!')
for i in range(len(recom_2)):
    print('{}. {}, (Type : {})'.format(1+i, anime.iloc[recom_2[i], 2],anime.iloc[recom_2[i], 4]))

Apa anime yang anda sukai? Kimi no Na wa.
Special Pick For You!
1. Gintama Movie: Kanketsu-hen - Yorozuya yo Eien Nare, (Type : Movie)
2. Koe no Katachi, (Type : Movie)
3. Sen to Chihiro no Kamikakushi, (Type : Movie)
4. Ookami Kodomo no Ame to Yuki, (Type : Movie)
5. Mononoke Hime, (Type : Movie)
6. Suzumiya Haruhi no Shoushitsu, (Type : Movie)
7. Mushishi Zoku Shou: Suzu no Shizuku, (Type : Movie)
8. Howl no Ugoku Shiro, (Type : Movie)
9. Kizumonogatari II: Nekketsu-hen, (Type : Movie)
10. Kara no Kyoukai 5: Mujun Rasen, (Type : Movie)